# macOS
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Packaging outputs
dist/
build/
*.egg-info/
.eggs/

# Logs and reports
*.log
coverage.xml
htmlcov/
.coverage*
pytestdebug.log

# Tooling caches
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.cache/

# Editors
.vscode/
.idea/
*.swp
